---
layout: main
---
    <div class="artigo_nome">
      WELCOME        
    </div>
    <article class="post1">
      <div class="post-content1">
       <h2 class="post-title">DASFSDFASEDFA</h2>
       </div>
    </article>

    <div class="h3">Here i post some notes</div>

{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | append : post.img}})" href="{{post.url}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}</span>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
